/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    background-image: url("../images/background.png");
}



header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    z-index: 1000;
    background-color: rgba(163, 216, 244, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
}

.logo img {
    width: 100px;
}

/* Style pour la barre de recherche */
.search-container {
    display: flex;
    align-items: center;
    position: relative; /* Pour gérer l'animation */
}

.search-bar {
    width: 0;
    opacity: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    transition: width 0.4s ease, padding 0.4s ease;
    /* L'animation se fait sur la largeur, l'opacité et le padding */
}

.search-bar.active {
    width: 200px;
    opacity: 1;
    padding: 5px 10px; /* Rétablit le padding à l'apparition */
}

.search-icon {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}


/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, border-bottom-color 0.3s ease; /* Transition douce pour la couleur et la bordure */
}

nav ul li a:hover {
    color: #0056b3;
    border-bottom-color: #0056b3; /* Couleur instantanée au survol */
    border-bottom-width: 3px; /* L'épaisseur de la bordure augmente lentement */
}

/* Menu burger utilisateur */
.user-side-menu {

    position: absolute;
    top: 90px;
    right: 10px;
    width: 200px;
    background-color: #A3D8F4;
    color: #fff;
    overflow: hidden;
    padding-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transform: translateX(100%); /* Cacher sur le côté droit */
    transition: transform 0.7s ease-in-out, opacity 0.4s ease-in-out;
    opacity: 0;
}

.user-side-menu a {

        display: block;
        padding: 10px 15px;
        text-decoration: none;
        font-size: 18px;
        color: #fff;
        transition: background-color 1s ease;
    }



.user-side-menu a:hover {
    background-color: #575757;
}

.user-side-menu.active {

    width: 200px; /* Largeur du menu lorsqu'il est ouvert */
    height: auto; /* Hauteur adaptée au contenu */
    opacity: 1; /* Le menu devient visible */
    transform: translateX(0);
}




.auth-icon img {
    cursor: pointer;

}

/* Menu burger à gauche */
.side-burger-menu {
    position: fixed;
    top: 140px;
    left: 30px;
    z-index: 1300;
    cursor: pointer;

}

.side-burger-menu img {
    width: 40px;
    cursor: pointer;
}

.side-menu {

    z-index: 1200;
    width: 0;
    position: fixed;
    left: -250px; /* Position hors écran à gauche */
    top: 0;
    background-color: #A3D8F4;
    color: #fff;
    overflow-x: hidden;
    transition: left 1s ease;
    padding-top: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.side-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    transition: background-color 1s ease;
}

.side-menu a:hover {
    background-color: #575757;
}

.side-menu.active {
    width: 250px;
    left: 0;
    
}

/* Section Héros */
.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    font-size: 48px;
    color: #333;
    margin-top: 120px;
}

.actu {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.subtitle {
    margin-top: 10px;
    color: #777;
}

/* Styles des articles */
.articles {
    max-width: 70%;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    background-color: #A3D8F4;
    border-radius: 20px;

    overflow: hidden; /* Ajouté pour masquer les articles débordants */
}


.rubrique {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.view-all-btn {
    background-color: #A3D8F4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.view-all-btn:hover {
    background-color: #003f8f;

}




.row {
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease;
    position: relative;
    width: 100%; /* Assure que la ligne occupe tout l'espace disponible */
}

.article-card {
    background-color: white;
    border-radius: 10px;
    margin: 40px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    height: 200px;
    flex: 0 0 300px; /* Assure que chaque carte occupe un espace fixe */
}


.article-card:hover {
    transform: scale(1.05);
}

.article-card img {
    width: 100%;
    border-radius: 10px;
}
.voir-plus {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;

}

.voir-plus:hover {
    background-color: #0056b3;
}

/* Styles pour les flèches de navigation */
.btn {
    position: absolute;
    top: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 40px;
    height: 40px;
    z-index: 10;

}

#L1, #L2 {
    left: -50px;
}

#R1, #R2 {
    right: -50px;
}

/* Footer */
.footer {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A3D8F4;
    padding: 20px;
}

.footer .social-media {
    display: flex;
}

.footer .social-media a {
    margin-right: 15px;
}

.footer .contact-info {
    color: #000;
    font-size: 14px;
    text-align: center;
}

.footer .useful-links {
    text-align: right;
    margin-right: 20px;
}

.footer .useful-links a {
    color: #000;
}

.footer .support-button {
    background-color: #008CBA;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

.footer .support-button:hover {
    background-color: #005f6a;
}









/* Petits écrans : Adapter la barre de recherche */
@media (max-width: 930px) {


    nav ul {
        display: flex;
        flex-direction: column; /* Empile les éléments verticalement */
        align-items: center;
        gap: 10px;
    }

    nav ul li {
        display: block;
    }


    .articles {
        padding: 20px;
        margin: 50px auto;
        background-color: #A3D8F4;
        border-radius: 8px;
        width: 95%;
    }

    .article-card {
        width: 80%; /* Réduit la largeur de l'article */
        margin: 60px auto; /* Centre les articles avec une marge réduite */
        padding: 30px; /* Réduit l'espace intérieur */
    }



    .footer {
        flex-direction: column;
        text-align: center;
    }

    .side-burger-menu img {
        width: 30px;
        cursor: pointer;

    }

    .support-button {
        width: 100%;
        margin-top: 20px;
    }

    .row {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .logo img {
        width: 80px; /* Réduit la taille du logo */
    }
}

/* Medium Screen Adjustments */
@media (min-width: 930px) and (max-width: 1400px) {


    .article-card {
        flex: 0 0 250px; /* Réduire la taille de chaque article */
        margin: 20px; /* Réduire l'espacement */
        width: 33.33%; /* Chaque article occupe un tiers de l'espace sur les écrans moyens */

    }

    .row {
        justify-content: space-between; /* Ajuster l'espacement entre les articles */
    }

    .btn {

        top: 1px; /* Ajuster la position des flèches */
    }

    #L1, #L2 {
        left: -30px;
    }

    #R1, #R2 {
        right: -30px;
    }
    nav ul {
        justify-content: center;
        gap: 15px;
    }

    .articles {
        padding: 30px;
        margin: 50px auto;
        background-color: #A3D8F4;
        border-radius: 8px;
        width: 80%;
    }


    .row {
        gap: 50px;
    }
}
