/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    background-image: url("../images/background.png");
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 100px;
}

/* Style pour la barre de recherche */
.search-container {
    display: flex;
    align-items: center;
}

.search-icon {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.search-bar {
    display: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 16px;
    outline: none;
}

.search-bar.active {
    display: block;
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

nav ul li a:hover {
    color: #0056b3;
    border-bottom: 2px solid #0056b3;
}

/* Menu burger utilisateur */
.user-side-menu {
    position: fixed;
    top: 90px;
    right: 10px;
    width: 0;
    background-color: #A3D8F4;
    color: #fff;
    overflow: hidden;
    transition: 0.2s;
    padding-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;

}

.user-side-menu a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;

}

.user-side-menu a:hover {
    background-color: #575757;
}

.user-side-menu.active {
    width: 200px;

}

/* Menu burger à gauche */
.side-burger-menu {
    position: fixed;
    top: 120px;
    left: 40px;
    z-index: 1000;
    cursor: pointer;
}

.side-burger-menu img {
    width: 40px;
    cursor: pointer;
}

.side-menu {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #A3D8F4;
    color: #fff;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}

.side-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

.side-menu a:hover {
    background-color: #575757;
}

.side-menu.active {
    width: 250px;
}

/* Section Héros */
.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    font-size: 48px;
    color: #333;
}

.actu {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.subtitle {
    margin-top: 10px;
    color: #777;
}

/* Styles des articles */
.articles {
    max-width: 70%;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    background-color: #A3D8F4;
    border-radius: 20px;

    overflow: hidden; /* Ajouté pour masquer les articles débordants */
}


.rubrique {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.view-all-btn {
    background-color: #A3D8F4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.view-all-btn:hover {
    background-color: #003f8f;

}




.row {
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease;
    position: relative;
    width: 100%; /* Assure que la ligne occupe tout l'espace disponible */
}

.article-card {
    background-color: white;
    border-radius: 10px;
    margin: 40px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    height: 200px;
    flex: 0 0 300px; /* Assure que chaque carte occupe un espace fixe */
}


.article-card:hover {
    transform: scale(1.05);
}

.article-card img {
    width: 100%;
    border-radius: 10px;
}
.voir-plus {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;

}

.voir-plus:hover {
    background-color: #0056b3;
}

/* Styles pour les flèches de navigation */
.btn {
    position: absolute;
    top: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 40px;
    height: 40px;
    z-index: 10;

}

#L1, #L2 {
    left: -50px;
}

#R1, #R2 {
    right: -50px;
}

/* Footer */
.footer {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A3D8F4;
    padding: 20px;
}

.footer .social-media {
    display: flex;
}

.footer .social-media a {
    margin-right: 15px;
}

.footer .contact-info {
    color: #000;
    font-size: 14px;
    text-align: center;
}

.footer .useful-links {
    text-align: right;
    margin-right: 20px;
}

.footer .useful-links a {
    color: #000;
}

.footer .support-button {
    background-color: #008CBA;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

.footer .support-button:hover {
    background-color: #005f6a;
}









/* Small Screen Adjustments */
@media (max-width: 930px) {


    .article-card h3 {
        font-size: 14px; /* Réduction de la taille du titre */
    }

    .article-card p {
        font-size: 12px; /* Réduction de la taille du texte */
    }

    .voir-plus {
        font-size: 10px; /* Réduction de la taille du bouton */
        padding: 5px 10px; /* Ajustement des marges du bouton */
    }

    .row {
        justify-content: space-evenly; /* Alignement et espacement des articles */
        overflow: hidden; /* Empêche le débordement des articles */
    }



    .rubrique {
        position: relative;
    }

    .rubrique .btn {
        position: absolute;
        top: 0;
        right: 0;
    }

    #L1, #R1, #L2, #R2 {
        top: 10px; /* Ajustement pour que les flèches soient au même niveau que le titre */
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .articles {
        padding: 20px;
        margin: 50px auto;
        background-color: #A3D8F4;
        border-radius: 8px;
        width: 95%;
    }



    .footer {
        flex-direction: column;
        text-align: center;
    }

    .support-button {
        width: 100%;
        margin-top: 20px;
    }




    .logo img {
        width: 80px;
    }




    .row {
        display: flex;
        overflow: hidden;

        position: relative;
        width: 100%;
        transition: transform 0.5s ease;
        scroll-behavior: smooth;
        justify-content: center;
    }

    .article-card {
        width: 100%; /* Les articles prennent toute la largeur sur les petits écrans */
        flex: 0 0 120px; /* Réduire encore la taille des articles */
        margin: 10px; /* Réduire l'espacement encore plus */
    }

    .row::-webkit-scrollbar {
        display: none; /* Cacher la barre de défilement */
    }
    #L1, #L2 {
        left: -10px;
    }

    #R1, #R2 {
        right: -10px;
    }

}

/* Medium Screen Adjustments */
@media (min-width: 930px) and (max-width: 1400px) {


    .article-card {
        flex: 0 0 250px; /* Réduire la taille de chaque article */
        margin: 20px; /* Réduire l'espacement */
        width: 33.33%; /* Chaque article occupe un tiers de l'espace sur les écrans moyens */

    }

    .row {
        justify-content: space-between; /* Ajuster l'espacement entre les articles */
    }

    .btn {

        top: 1px; /* Ajuster la position des flèches */
    }

    #L1, #L2 {
        left: -30px;
    }

    #R1, #R2 {
        right: -30px;
    }
    nav ul {
        justify-content: center;
        gap: 15px;
    }

    .articles {
        padding: 30px;
        margin: 50px auto;
        background-color: #A3D8F4;
        border-radius: 8px;
        width: 80%;
    }


    .row {
        gap: 50px;
    }
}
