/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixe le fond pour qu'il reste statique lors du scroll */
    background-position: center;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1000;
    background-color: rgba(163, 216, 244, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
}

.logo img {
    width: 100px;
}

/* Style pour la barre de recherche */
.search-container {
    display: flex;
    align-items: center;
    position: relative; /* Pour gérer l'animation */
}

.search-bar {
    width: 0;
    opacity: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    transition: width 0.4s ease, padding 0.4s ease;
}

.search-bar.active {
    width: 200px;
    opacity: 1;
    padding: 5px 10px;
}

.search-icon {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

nav ul li a:hover {
    color: #0056b3;
    border-bottom-color: #0056b3;
}

/* Menu burger utilisateur */
.user-side-menu {
    position: absolute;
    top: 90px;
    right: 10px;
    width: 200px;
    background-color: #A3D8F4;
    color: #fff;
    overflow: hidden;
    padding-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.7s ease-in-out, opacity 0.4s ease-in-out;
    opacity: 0;
}

.user-side-menu a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    transition: background-color 1s ease;
}

.user-side-menu a:hover {
    background-color: #575757;
}

.user-side-menu.active {
    width: 200px;
    height: auto;
    opacity: 1;
    transform: translateX(0);
}

.auth-icon img {
    cursor: pointer;
}

/* Menu burger à gauche */
.side-burger-menu {
    position: fixed;
    top: 140px;
    left: 30px;
    z-index: 1300;
    cursor: pointer;
}

.side-burger-menu img {
    width: 40px;
    cursor: pointer;
}

.side-menu {
    z-index: 1200;
    width: 0;
    position: fixed;
    left: -250px;
    top: 0;
    background-color: #A3D8F4;
    color: #fff;
    overflow-x: hidden;
    transition: left 1s ease;
    padding-top: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.side-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    transition: background-color 1s ease;
}

.side-menu a:hover {
    background-color: #575757;
}

.side-menu.active {
    width: 250px;
    left: 0;
}

/* Section Héros */
.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    font-size: 48px;
    color: #333;
    margin-top: 120px;
}

.hero p {
    font-size: 18px;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
}

/* About Section */
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    background-color: transparent; /* Assure que cette section ne masque pas le fond */
    overflow: unset;

}

.about-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 40px;
}

.about-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* Effet de survol (hover) sur les boîtes */
.about-box:hover {
    transform: translateY(-10px); /* L'élément se déplace vers le haut */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Augmentation de l'ombre pour un effet de relief */
    cursor: pointer;
}

.about-box h2 {
    font-size: 24px;
    margin-bottom: 20px;


}

.about-box:hover h2 {
    color: #0056b3; /* Change la couleur du titre lors du survol */
    transition: color 0.3s ease;
}

.about-box p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.about-box img {
    width: 100%;
    border-radius: 8px;
    margin-top: 20px;
}

/* Footer */
.footer {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A3D8F4;
    padding: 20px;
}

.footer .social-media {
    display: flex;
}

.social-media i {
    font-size: 20px;
    color: #fff; /* Change cette couleur selon tes besoins */
    margin-right: 20px;
}


.social-media i:hover {
    color: #007bff;
    transition: color 0.8s ease; /* Transition uniquement sur la couleur */
}

.footer .contact-info {
    color: #000;
    font-size: 14px;
    text-align: center;
}

.footer .useful-links {
    text-align: right;
    margin-right: 20px;
}

.footer .useful-links a {
    color: #000;
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.footer .support-button {
    background-color: #008CBA;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

.footer .support-button:hover {
    background-color: #005f6a;
}


/* Petits écrans : Adapter la barre de recherche */
@media (max-width: 870px) {




    nav ul {
        display: flex;
        flex-direction: column; /* Empile les éléments verticalement */
        align-items: center;
        gap: 10px;
    }

    nav ul li {
        display: block;
    }




    .footer {
        flex-direction: column;
        text-align: center;
    }

    .side-burger-menu {
        position: fixed;
        top: 170px;
        left: 20px;
        z-index: 1300;
        cursor: pointer;

    }

    .side-burger-menu img {
        width: 30px;
        cursor: pointer;

    }


    .footer .useful-links a {
        color: #000;
        display: block;
        margin-bottom: 10px;

        text-align: center;
    }


    .logo img {
        width: 80px; /* Réduit la taille du logo */
    }

    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .about-box {
        width: 90%; /* Full width for small screens */
    }

}

/* Medium Screen Adjustments */
@media (min-width: 870px) and (max-width: 1400px) {


    .side-burger-menu {
        position: fixed;
        top: 150px;
        left: 40px;
        z-index: 1300;
        cursor: pointer;

    }


    .hero h1 {
        font-size: 40px; /* Adjusting the title size for medium screens */
    }

    .hero p {
        font-size: 16px;
        max-width: 80%; /* Adjusting the paragraph width for medium screens */
    }


    .about-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    .about-box {
        width: 30%; /* Reducing size to make room for 3 boxes side by side */
    }

    .about-box h2 {
        font-size: 20px; /* Slightly reduce the size of the headings */
    }

    .about-box p {
        font-size: 14px; /* Reduce paragraph font size for medium screens */
    }


}


